<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Reactive calendar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button
      mat-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      Day
    </button>
    <button
      mat-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      Week
    </button>
    <button
      mat-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      Month
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <mat-form-field>
      <input matInput />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
